body, 
html,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #8CBEB2;
}

.title{
    font-size: 6rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-family: 'Grandstander', cursive;
    font-family: 'Tourney', cursive;
    color: #0c372d;
}

#container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 4vh;
    column-gap: 5vw;
    justify-content: center;
    padding-bottom: 10rem;

    font-family: 'Karla', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    
}



.card{
    /* border: 2px solid red; */
    width: 20%;
    text-align: center;
    background-color: #00a388;
    justify-content: space-around;
    border: 3px solid #00796b;
    padding: 10px;
    box-shadow: 7px 12px #0c372d;
    transition: all 0.05s;

}

.card:hover{
    transform: scale(1.1)
}

.card:hover{
    border-radius: 2rem;
}

.card:hover{
   color: rgba(62, 10, 126, 0.801);
}

.subtext:hover{
    outline: 4px solid rgba(62, 10, 126, 0.801);

}

.card-title:hover{
    text-decoration: underline solid #0c372d;
}



.card-title{
    font-size: 3rem;
    margin: 0.5rem 0;
    text-transform: uppercase;
    margin: 4rem;
    background-color: #00a388;
    transition: all 0.4s;
}

.card-image{
    height: 300px;
    width: 300px;
    margin-bottom: 7rem;
    background-color: #00a388;
}

.subtext{
    font-size: 3rem;
    margin-bottom: 2rem;
    border: solid #0c372d;
    transition: all 0.1s;
}
